<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bienvenue sur la factory !</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<meta name="description" content="" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />
</head>
<body>
	<div th:replace="navbar"></div>

	<table class="table table-striped">
		<thead>
		
				<h1>Liste des gérants</h1>
				<p>
					<a th:href="@{ajouterUtilisateur}"
						class="btn btn-primary btn-lg active" role="button"
						aria-pressed="true"> Ajouter</a>
				</p>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Email</th>
				<th scope="col">Lieu</th>
				<th scope="col">Actions</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="utilisateur :${ mesUtilisateurs }">

				<td>[[${utilisateur.nom }]]</td>

				<td>[[${utilisateur.prenom}]]</td>

				<td>[[${utilisateur.email}]]</td>

				<td>[[${utilisateur.lieu?.nom }]]</td>

				<td><a th:href="@{supprimer/{id}(id=${utilisateur.id })}">
						Supprimer</a> <a th:href="@{editer/{id}(id=${utilisateur.id })}">
						Editer</a></td>
			</tr>
		</tbody>
	</table>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>
</html>