<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Edition Categorie</title>
</head>
<body>
	<h1>Edition catégorie</h1>
	<form method="post">
		<input type="hidden" name="id" th:value="${categorie?.id}">
		Libelle de la categorie: <br> <input type="text" name="libelle"
			required th:value="${categorie.libelle }"><br> Choisir
		categorie mère <br>
		<select class="custom-select" name="categorieMere">
			<option th:each="categorie : ${listeCategorie}"
				th:value="${categorie.id}"
				th:selected="${ categorie?.categorieMere?.id == categorieMere.id}">
				[[${categorie.libelle }]]</option>
		</select> <br> <input type="submit" value="OK">
	</form>

</body>
</html>