<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="description" content="Best game ever">
<meta name="viewport" content="width=devide-width, initial-scale=1" />
<base href="inscription.html" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet">
<link rel="stylesheet"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<title>Ajout/Edition des activités</title>
</head>


<body>


	<h1>Formulaire d'ajout/Edition d'une activité</h1>

	<form method="POST" action= "/activite/ajouterActivite">

		<section class="container mb-5 mt-5">

			<div>
				<label> Nom de l'activité </label> <input type="text" name="nom"
					th:value="${activite?.nom}"
					placeholder="Renseignez le nom de l'activité à proposer" required />
			</div>


			<div>
				<label> Code unique de l'activité </label> <input type="text"
					name="codeUnique" th:value="${activite?.codeUnique}"
					placeholder="Renseignez un code unique" required />
			</div>
			
			
			<div>
				<label> Nombre de partipants </label> <input type="text"
					name="nbParticipantsMin" th:value="${activite?.nbParticipantsMin}"
					placeholder="Renseignez un nombre de participants mini" required />
				<input type="text" name="nbParticipantsMax"
					th:value="${activite?.nbParticipantsMax}"
					placeholder="Renseignez un nombre de participants maxi" required />
			</div>



			<div>
				<label> Tarif (EUR)/personne (Optionnel)</label> <input type="number"
					name="tarifPersonne" value="0" th:value="${activite?.tarifPersonne}"
					step="0.1"  />
			</div>



			<div>
				<label> Durée de l'activité (Optionnel) </label> <input type="number"
					name="duree" value ="0" th:value="${activite?.duree}"
					step="0.1"/>
			</div>



			<div>
				<label> Lieu </label> <select name="lieu.id">
					<option th:each="lieu: ${ mesLieux}" th:value="${lieu.id}"
						th:text="${lieu.nom}"
						th:selected="${activite?.lieu?.id == lieu.id}" />
				</select>
			</div>



			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input"
					id="customSwitch1" name="nbApproximatif"
					th:value="${activite?.nbApproximatif}"> <label
					class="custom-control-label nbApproximatif" for="customSwitch1">Nombre
					approximatif de participants</label>
			</div>



			<div>
				<label> Description</label> <input type="text" name="description"
					th:value="${activite?.description}"
					placeholder="Decrivez l'activité" required />
			</div>


			<div>
				<label> Lien vidéo Youtube (Optionnel) </label> <input type="text"
					name="lienYoutube" th:value="${activite?.lienYoutube}"
					placeholder="Inserez un lien" />
			</div>



			<div>
				<label> Lien image (Optionnel) </label> <input type="text"
					name="image" th:value="${activite?.image}"
					placeholder="Inserez un lien" />
			</div>


			<div>
			
				<label> Niveau de difficulté </label>
				 <select name="niveau">
					<option th:each="niveau: ${mesNiveaux}" th:value="${niveau}" th:text="${niveau}" th:selected="${activite?.niveau == niveau}" />
				</select>

			</div>

			<div>
				<input type="submit" value="Ajouter/Modifier" />
			</div>


			<!--  <div>
  <label> Catégorie  </label>
 <select  name="categorie.id" >
 <option th:each="categorie: ${ mesCategories}"
 		th:value="${categorie.id}"
 		th:text="${categorie.libelle}"
 		th:selected="${activite?.categorie?.id == categorie.id}" />
 </select>
  </div> -->
  		</section>

	</form>





	<section th:if ="${activite} != null" class="container mb-5 mt-5 tableau">

		<table class="table table-striped" id="tableauCategorie">
					
					

			<!-- Liste des catégories pour une activité -->
			<tr th:each="categorie : ${activite.categories}">

				<td>[[${ categorie.libelle }]]</td>
					<td>
						<a th:href="@{/activite/supprimerCategorie/{id}/{id2}(id2=${categorie.id}, id=${id} )}" class="btn btn-light" role="button"> Supprimer</a>
					</td>
					
			</tr>

			
			
			<!-- Ajouter une catégorie pour une activité -->		
			<tr>
				<td>
					<form method="POST" th:action="@{/activite/ajouterCategorie/{id}(id=${id})}">
						<div>
							<select name=idCategorie>
								<option th:each="categorie: ${ mesCategories}" th:value="${categorie.id}" th:text="${categorie.libelle}"/>
							</select>
						</div>
					
								
						<div>
							<input type="submit" class="btn btn-light" /> 
						</div>
					</form>
				</td>
			</tr>
			
			
		</table>

	</section>
	
	<a href="/activite">Retour a la liste des activités</a>
	


</body>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>