<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Liste des activités</title>
</head>


<body>


<h1>Formulaire d'ajout d'activitées</h1>




<form  method="POST">



 <div>
 <label> Nom de l'activité  </label>
 <input type="text" name="modele" placeholder="Renseignez le nom de l'activité à proposer" required/>
 </div>


 <div>
 <label> Code unique de l'activité  </label>
 <input type="text" name="modele" placeholder="Renseignez un code unique" required/>
 </div>



 <div>
 <label> Code unique de l'activité  </label>
 <input type="text" name="modele" placeholder="Renseignez  un code unique" required/>
 </div>



 <div>
 <label> Nombre de partipants  </label>
 <input type="text" name="modele" placeholder="Renseignez un nombre de participants mini" required/>
  <input type="text" name="modele" placeholder="Renseignez un nombre de participants maxi"  required/>
 </div>


 <div>
 <label> Tarif/personne (Optionnel)</label>
 <input type="text" name="modele" placeholder="Renseignez le tarif" />
 </div>



 <div>
 <label>  Durée de l'activité (Optionnel) </label>
 <input type="text" name="modele" placeholder="Renseignez la durée totale de votre activité" />
 </div>





</form>




</body>
</html>