<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Liste des activités</title>
</head>


<body>


<h1>Formulaire d'ajout d'activitées</h1>




<form  method="POST">



 <div>
 <label> Nom de l'activité  </label>
 <input type="text" name="modele" placeholder="Renseignez le nom de l'activité à proposer" required/>
 </div>


 <div>
 <label> Code unique de l'activité  </label>
 <input type="text" name="modele" placeholder="Renseignez un code unique" required/>
 </div>



 <div>
 <label> Code unique de l'activité  </label>
 <input type="text" name="modele" placeholder="Renseignez  un code unique" required/>
 </div>



 <div>
 <label> Nombre de partipants  </label>
 <input type="text" name="modele" placeholder="Renseignez un nombre de participants mini" required/>
  <input type="text" name="modele" placeholder="Renseignez un nombre de participants maxi"  required/>
 </div>


 <div>
 <label> Tarif/personne (Optionnel)</label>
 <input type="text" name="modele" placeholder="Renseignez le tarif" />
 </div>



 <div>
 <label>  Durée de l'activité (Optionnel) </label>
 <input type="text" name="modele" placeholder="Renseignez la durée totale de votre activité" />
 </div>




<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Nombre approximatif de participants (Optionnel) </label>
</div>



 <div>
 <label>  Description (Optionnel) </label>
 <input type="text" name="modele" placeholder="Decrivez l'activité" />
 </div>


 <div>
 <label>  Lien vidéo Youtube </label>
 <input type="text" name="modele" placeholder="Decrivez l'activité" />
 </div>




 <div>
 <input type="submit" value="Ajouter l'activité"/>
 </div>




</form>




</body>
</html>