<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Factory</title>
		<meta name="Description" content="Bienvenu sur Factory">
		<link rel="stylesheet" 
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
				integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
				crossorigin="anonymous" >
		<link rel="stylesheet" type="text/css" href="assets/css/listeActivites.css" />
	</head>
	<body>
	<!-- IMPORTER NAVBAR.HTML -->
		<header>
			<h1 class="text-center">Gestion des activités</h1>
		</header>
		<p></p>
		<section class="container" id="ajouterCarte">
			<p>
				<a href="activite/ajouter" class="btn btn-sucess" role="button">Ajouter une activité</a>
			</p>
		</section>
		
		<section class="container" id="listeActivites">
			<h2>Liste des activités</h2>
			<!-- Tableau des produits - striped pour avoir 1 ligne sur 2 coloré -->
			<table id="activites" class="table table-striped">
				<!-- En-tête du tableau (le titre des colonnes) -->
				<thead>
					<tr>
						<th>Code</th>
						<th>Nom</th>
						<th>Participants min/max</th>
						<th>Nombre de réservations</th>
						<th>Statut</th>
						<!-- colonne des boutons d'action -->
						<th></th> 
					</tr>
				</thead>
				<!-- Contenu du tableau -->
				<tbody>
					<tr th:each="activite : ${mesActivites}">
						<td>[[${ activite.codeUnique }]]</td>
						<td>[[${ activite.nom }]]</td>
						<td>[[${ activite.nbParticipantsMin }]] à [[${ activite.nbParticipantsMax }]]</td>
						<td th:with="someVariable=0">
							<span th:each="Reservation : ${mesReservations}">
							
							</span>
							[[${Reservation.nbParticipants}]]
						</td>
						<td>						
							<span th:if="${activite.activee == true}">
								<a th:href="@{/activite/afficher/{id}(id=${ activite.id })}" class="btn btn-success" role="button">
							   		Affiché
								</a>
								<a th:href="@{/activite/masquer/{id}(id=${ activite.id })}" class="btn btn-light" role="button">
									Masqué
								</a>
							</span>
							<span th:if="${activite.activee == false}">
								<a th:href="@{/activite/afficher/{id}(id=${ activite.id })}" class="btn btn-light " role="button">
							   		Affiché
								</a>
								<a th:href="@{/activite/masquer/{id}(id=${ activite.id })}" class="btn btn-success" role="button">
									Masqué
								</a>
							</span>							 
						</td>
						<td>
							<a th:href="@{activite/editer/{id}(id=${ activite.id })}" class="btn btn-info" role="button">Editer</a>
							<a th:href="@{activite/supprimer/{id}(id=${ activite.id })}" class="btn btn-danger" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<footer class="container">
			Copyright codenames.fr &copy; 2019
		</footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
			crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
			crossorigin="anonymous">
		</script>
	</body>
</html>