<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bienvenue sur la factory !</title>
<meta name="description" content="" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />
</head>
<body>
	<nav>
		<ul>
			<li><a href="listeUtilisateurs">Gérant</a></li>
			<li><a href="reservation">Réservation</a>
			<li><a href="activite">Activité</a>
			<li><a href="categorie">Catégorie</a>
			<li><a href="deconnexion">Déconnexion</a>
			</li>
		</ul>
	</nav>
</body>
</html>