div#detailActivite {
  margin-top: 60px ;
}

div#detailActivite h4{
  margin-left: calc(10%);
  display: flex;
  justify-content: left;
}

div#detailActivite div#lieu{
  display: flex;
  justify-content: left;
}

div#detailActivite div#lieu a{
  margin-left: calc(10%);
  display: flex;
  justify-content: left;
  color : black ;
  margin-left: 10px;
  border-collapse: collapse;
  font-size : 20px;
}

div#detailActivite h2{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

div#detailActivite div#image{
  display: flex;
  justify-content: center;
}

div#detailActivite div#cat {
  display: flex;
  justify-content: left;
}

div#detailActivite div#cat table{
  width: calc(50%) !important;
}

div#detailActivite div#cat table tr h4 {
    margin-left: 10px;
}
