
  <div>
  <h2 id="nom">{{ activiteService.activite.nom }}</h2>
  <h4 id="nbMin">{{ activiteService.activite.nbParticipantsMin }}</h4>
  <h4 id="nbMax">{{ activiteService.activite.nbParticipantsMax }}</h4>
  <h4 id="tarif">{{ activiteService.activite.tarifPersonne }}</h4>
  <h4 id="duree">{{ activiteService.activite.duree }}</h4>
  <h4 id="desc">{{ activiteService.activite.description }}</h4>
  <h4 id="lienYt">{{ activiteService.activite.lienYoutube }}</h4>
  <h4 id="image">{{ activiteService.activite.image }}</h4>
  <h4>niveau : </h4>
  <h4 id="niveau">{{ activiteService.activite.niveau }}</h4>
  <!-- <table>
    <tr *ngFor="let c of activiteService.activite.categories | async">
        <td>{{ c.libelle }}</td>
  </table> -->

  <h4 id="lieuNom">{{ activiteService.activite.lieu.nom }}</h4>
  </div>
