<link rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
             crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />


 <!------BOUTON CONNEXION ------>

 <div class="container pt-2 pb-2 col-sm-12" id="header">
   <button id="bouton" type="button" class="btn btn-danger"><a href="/accueil">Retour</a></button>
   <div id="titre">
     <h1>BOITE A IDEES</h1>
   </div>
   </div>


 <!------MENU ------>

 <div class="row " >
   <nav id="menu" >
   	<div  *ngFor="let c of categorieService.findAllAsync() | async"  class="dropdown">
       <div *ngIf="c.categorieMere==null" >
         <button class="dropbtn"><a id="categorie" href="activites/{{c.id}}">{{ c.libelle }}</a></button>
         <div   class="dropdown-content">
           <div *ngFor="let cf of categorieService.findAllAsync() | async">
             <a  *ngIf="cf.categorieMere?.id==c.id" href="activites/{{c.id}}">{{ cf.libelle }}</a>
           </div>
         </div>
       </div>
     </div>
   	</nav>
 </div>
<section class=body>
<div class="container "   >
  <div class="row justify-content-center text-black"id= page-content >
    <div class="col-lg-4 ">
        <br />  <br />  <br />  <br />
        <p>Nom :  <input  class="form-control form-control" type="text" [(ngModel)]="proposition.nom" /></p>
        <p>Prénom : <input class="form-control form-control"  type="text" [(ngModel)]="proposition.prenom" /> </p>
        <p>Mail :<input class="form-control form-control"   type="email" [(ngModel)]="proposition.mail" /> </p>
        <p>Votre idée : <textarea class="form-control " type="textarea" [(ngModel)]="proposition.description" ></textarea></p>
         <br />
         <div class= "row justify-content-center" id= page-content>
            <button class="btn btn-danger "  style="width: 200px;" (click)="ajouterProposition()" > ENVOYER</button>
          <div>
      </div>
  </div>
        <br />  <br />
</div>
</div>
