<!------BOUTON CONNEXION ------>

<div class="container">
<button id="bouton" type="button" class="btn btn-outline-secondary"><a href="#">Connexion</a></button>
</div>
<!-----TITRE----->
<div id="titre">
  <h1> {{ categorieService.categorie.libelle }} </h1>
</div>

<!------MENU ------>

<div class="row">
  <nav id="menu" >
    <div  *ngFor="let c of categorieService.findAllAsync() | async"  class="dropdown">
      <div *ngIf="c.categorieMere==null" >
        <button class="dropbtn"><a id="categorie" href="activites/{{c.id}}" >{{ c.libelle }}</a></button>
        <div   class="dropdown-content">
          <div *ngFor="let cf of categorieService.findAllAsync() | async">
            <a  *ngIf="cf.categorieMere?.id==c.id" href="activites/{{cf.id}}">{{ cf.libelle }}</a>
          </div>
        </div>
      </div>
    </div>
    </nav>
</div>


<div>
  <div *ngFor="let act of activiteService.findByActiveeAsync() | async" >
    <div *ngFor="let cat of act.categories">
      <div *ngIf="cat.id == categorieService.categorie.id">
        <div class="card bg-light mb-3" style="max-width: 18rem;" >
          <div class="card-header"> {{act.nom}} </div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <img src="{{act.image}}" width="200px" height="auto">
            <p class="card-text">Some.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
