<p>
  reservation works!
</p>



<form>
  <p>Nom : <input type="text" [(ngModel)]="reservation.nom"></p>
  <p>Prénom : <input type="text" [(ngModel)]="reservation.prenom"></p>
  <p>Téléphone : <input type="text" [(ngModel)]="reservation.telephone"></p>
  <p>Mail : <input type="text" [(ngModel)]="reservation.mail"></p>
  <p>Nombre de participants : <input type="text" [(ngModel)]="reservation.nbParticipants"></p>
  <p>Est-ce un nombre approximatif? :
  <select [(ngModel)]="reservation.isApprox">
    <option value="true">Oui</option>
    <option value="false">Non</option>
  </select>
  <p>Date reservation : <input type="date" [(ngModel)]="reservation.dateReservation"></p>
  <p>Durée réservée : <input type="number" [(ngModel)]="reservation.dureeReservation"></p>
  <input type="submit" (click)="ajouterReservation()">

<form>
